body{
    background-color: skyblue;

}
.logo{
    text-align: center;
}
h1{
    text-align: center;
    position: relative;
    padding-top: -50px;
}
h5
{
    border-style: unset;
    border-bottom: solid white;
    text-align: center;
}
.quote{
    text-align: center;
    position: relative;
    padding-top: -30px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    
}
.scrolling
{
    text-align: center;
    color: white;
    position: relative;
    padding-top: -20%;
}
.p{
 text-align: center;
 

}
.image
{
   width: 25%;
   height: auto;
   position: relative;
   padding-left: 40%;
   padding-top: 20px;
}
.Title{
    font-family: Verdana, Geneva, Tahoma;
    font-size: 20px;
    text-align: center;
}
.book
{
    border-style: outset;
    border-color: ivory 10px;
    

}

{
    text-align: center;
}
.developer
{
    border-style: solid;
    border-color:solid black;
    text-align: left;
    font-family: monospace;
    text-align: center;
}
